# imports

In [ ]:
library(magrittr)
library(dplyr);#data analysis library
library(readxl);#read excel files
library(ggplot2);#data visualization library
library(ggpubr);#ggplot2 extension for publication ready plots
library(writexl);#write excel files
library(tidyr);#data wrangling
library(foreign);#spss, sas, stata, etc reading

# Basic: Dataframe Structure

In [ ]:
#view(mpq);

# p77#
stud<-c(80, 60, 70, 50, 90);
alavg=mean(stud);
print(alavg);

# dataframe
name=c("John", "Mary", "Tom", "Jane");
english=c(90, 80, 70, 60);
math=c(50, 60, 100, 20);
class=c(1, 1, 2, 2);
df_midterm=data.frame(row.names=name, english, math);# if x(row.names) is not set, then rows are as nums. inside, use =
df_midterm$class<-class;#adding a column to the data frame
#scoretable<-df_midterm+class;#inserting is possible
escore=df_midterm$english;#col selection: should be reviewed due to 'operator invalid for atomic vectors'
namesum=df_midterm[1, 2]+df_midterm[1, 3];#row selection: like indexing, start from 1
print(df_midterm);

# p87
products<-c("사과", "딸기", "수박");
prices<-c(1800, 1500, 3000);
amounts<-c(24, 38, 13);
dftable=data.frame(row.names=products, prices, amounts);
dim(dftable$products)<-c(4, 1)
dim(dftable$prices)<-c(4, 1)
dim(dftable$amounts)<-c(4, 1)
dftable$prices[4]=mean(dftable$prices);#dynamic adjustment like dftable$prices[4]=mean(dftable$prices); is not possible
dftable$amounts[4]=mean(dftable$amounts);
print(dftable);

# File IO

In [ ]:
excl_load=read_excel("data0425\\selfgen_rand.xlsx", sheet=1);
excl_load2=read_excel("data0425\\selfgen_rand.xlsx", sheet=2);
framed=data.frame(excl_load, excl_load2[2:ncol(excl_load2)], row.names = excl_load[[1]]);
cstdevs<-rep(0, ncol(framed));
rstdevs<-rep(0, ncol(framed));
for(i in 1:ncol(framed)) {
    cstdevs[i]<=sd(framed[1:nrow(framed), i]);
    rstdevs[i]<-sd(framed[i, 1:ncol(framed)]);
    }
outlist<-list(framed_data=framed, col_stdev=data.frame(cstdevs), row_stdev=data.frame(rstdevs));

write_xlsx(outlist, "data0425\\selfgen_analysis.xlsx");

# Analysis

## 1. dataframe handling and summary

In [ ]:
#filter() # filter rows by condition
#select() # select columns by condition
#mutate() # add new columns by condition
#arrange() # sort rows by condition
#summarise() # summarise data by condition
#group_by() # group data by condition
#rename() # rename columns by condition


# Analysis
csvread<-read.csv("data0425/csv_exam.csv", header=TRUE, fileEncoding="UTF-8-BOM");
#obj as row, var as column # nolint: semicolon_linter.

#head(csvread, n=6) # show the first 6(default) rows of the data frame
#tail(csvread, n=6) # show the last 6(default) rows of the data frame

#print(csvread) # print the data frame
#cat(csvread) # print the data frame
#View(csvread) # open the data frame in a new tab
#str(csvread) # show the data type structure of the data frame
#summary(csvread) # show the summary of the data frame: min, max, mean, median, 1st and 3rd quartiles(1/4, 3/4: 보간), and number of missing values by column
View(csvread);
str(csvread);
summary(csvread);

#dim(csvread) # show the dimensions of the data frame
#names(csvread) # show the names of the columns in the data frame
#colnames(csvread) # show the column names of the data frame
#rownames(csvread) # show the row names of the data frame
#nrow(csvread) # show the number of rows in the data frame
#ncol(csvread) # show the number of columns in the data frame
#length(csvread) # show the length of the data frame
dim(csvread);

#as.data.frame() # convert a list to a data frame: rowvalues are declared and indexed
mpg=data.frame(ggplot2::mpg);
#dataset: subdata of dataframe
df_rw<-data.frame(data1=c(1, 2, 1), data2=c(2, 3, 2));
#copied var to keep the original data frame
df_new<-df_rw;

df_new<-rename(df_new, v2=data2, v1=data1); # rename the columns of the data frame

#calculations: by element
df_new$varsum<-df_new$v2+df_new$v1; # add the two columns of the data frame, and store the result in a new column: generated var

mpg$avgcost<-(mpg$cty+mpg$hwy)/2;
summary(mpg$avgcost);

hist=hist(mpg$avgcost, breaks=10, col="red", xlab="avgcost", ylab="Frequency", main="Histogram of avgcost"); # histogram of the average cost
#ggplot(mpg$hist);
# condition to col, and condition to row
mpg$cond1<-ifelse(mpg$avgcost>20, "high", "low"); # add a new column to the data frame: high or low
mpg$grade<-ifelse(mpg$avgcost>30, "A", 
                    ifelse(mpg$avgcost>20, "B", ifelse(mpg$avgcost>10, "C", "D")));
table(mpg$cond1);
#ggplot2(mpg$cond1);

category <- c("product", "price", "sold", "stock")
a <- c("A", 1000, 30, 70)
b <- c("B", 1500, 20, 50)
c <- c("C", 800, 50, 30)
d <- c("D", 2000, 10, 90)
e <- c("E", 500, 100, 10)
sales_data <- rbind(a, b, c, d, e)
colnames(sales_data) <- category
sales <- as.data.frame(sales_data)
sales$price <- as.numeric(sales$price)
sales$sold <- as.numeric(sales$sold)
sales$stock <- as.numeric(sales$stock)
sales$total <- sales$price * sales$sold
sales$stock_status <- ifelse(sales$stock > 20, "Enough", "Low")
summary(sales$total)
#hist(sales$total)

category <- c("id", "area(m^{2})", "price(10000KRW)", "floors")
apt1 <- c("1", 85, 45000, 10)
apt2 <- c("2", 60, 30000, 5)
apt3 <- c("3", 120, 60000, 15)
apt4 <- c("4", 45, 25000, 3)
apt5 <- c("5", 100, 50000, 12)
apartments <- as.data.frame(rbind(apt1, apt2, apt3, apt4, apt5))
colnames(apartments) <- category

# convert area to pyeong
#apartments$"area(평)" <- apartments$"area(m^{2})" * 0.3025
apartments$plevel <- ifelse(apartments$"area(m^{2})" > 50000, "high", "normal")
apartments$flevel <- ifelse(apartments$floors > 10, "high", "normal")

summary(apartments$price)
#hist(as.numeric(apartments$price))

#rm(list=ls()) # remove all objects from the environment
#filtering: less $ use
#`%>%`
#sessionInfo() # show the information of the session
exam2 <- read.csv("data0425/csv_exam.csv", header = TRUE, fileEncoding = "UTF-8-BOM")
# Pipe operator: %>%. Connect the output of one function 
# to the input of another function.
class1 <- exam2 %>% dplyr::filter(exam2$class == 1)
classe <- exam2 %>% dplyr::filter(exam2$class != 1)
#logical characteristics: ==, !=, >, <, >=, <=, &, |
# %in%: condition in a set/list, like python
sel1<-select(class1, math, english) # select columns by condition
sel2<-select(class1, -math) # select columns by condition: except math
#or
sel1<-class1 %>% select(math, english) # select columns by condition
sel2<-class1 %>% select(-math) # select columns by condition: except math

sel3 <- exam2 %>%
    filter(`class` == 1) %>%
    select(english)
sel3<-exam2 %>% 
    select(`class`==1) %>%
    select(english)

sel4<-exam2 %>% 
    head(select(id, math), 10)

#adding var by dplyr
sel5<-exam2 %>% 
    mutate(total=math+english+science) %>% 
    select(id, total) # add a new column to the data frame: total and save id and total into sel5
sel6<-exam2 %>%
    mutate(spass=ifelse(science>=6, "pass", "fail")) %>%
    head()

library(magrittr)
library(dplyr);
library(readxl);
library(ggplot2);
library(writexl);
id<-c(1:5);
name<-c("Alice", "Bob", "Charlie", "David", "Eve");
math<-c(90, 70, 95, 60, 88);
english<-c(85, 80, 70, 90, 88);

studentss<-data.frame(id, name, math, english);
studentss<-studentss %>%
    mutate(avg_ME=sum(math, english)/2);
studentss<-studentss %>%
    mutate(grade=ifelse(avg_ME>=90, "A", 
                 ifelse(avg_ME>=80, "B", 
                        ifelse(avg_ME>=70, "C", 
                               ifelse(avg_ME>=60, "D", "F")))));
out=studentss %>%
    filter(grade=="C") %>%
    select(id, name, avg_ME, grade);
print(out); # show the data frame in a new tab

name=c("Alice", "Bob", "Charlie", "David", "Eve");
department=c("Computer Science", "Physics", "Mathematics", "Chemistry", "Biology");
korean=c(95, 85, 100, 90, 80);
english=c(88, 78, 85, 92, 84);
math=c(90, 75, 98, 85, 89);
professor=c("Prof. Lee", "Prof. Kim", "Prof. Kim", "Prof. Park", "Prof. Choi");
studentsss<-data.frame(name, department, korean, english, math, professor);
kmaxp<-studentsss %>%
    filter(korean==max(korean)) %>%
    select(name, professor);
print(kmaxp);
pkemin<-studentsss%>%
    filter(english==min(english)) %>%
    select(name, professor);
print(pkemin);


#is.data.frame(csvread) # check if the object is a data frame
#is.matrix(csvread) # check if the object is a matrix
#is.vector(csvread) # check if the object is a vector
#is.list(csvread) # check if the object is a list
#is.factor(csvread) # check if the object is a factor
#is.numeric(csvread) # check if the object is a numeric
#is.integer(csvread) # check if the object is an integer
#is.character(csvread) # check if the object is a character
#is.logical(csvread) # check if the object is a logical
#is.complex(csvread) # check if the object is a complex
#is.raw(csvread) # check if the object is a raw
#is.na(csvread) # check if the object is NA
#is.nan(csvread) # check if the object is NaN
#is.infinite(csvread) # check if the object is infinite
#is.finite(csvread) # check if the object is finite
#is.null(csvread) # check if the object is NULL
#isTRUE(csvread) # check if the object is TRUE
#isFALSE(csvread) # check if the object is FALSE
#isTRUEorFALSE(csvread) # check if the object is TRUE or FALSE

## 2. manipulation

In [ ]:
# summarise()|summarize(), group_by(), and arrange() functions
csvread<-read.csv("data0425/csv_exam.csv", header=TRUE, fileEncoding="UTF-8-BOM");

# summarise(): summarise data by condition- to the subgroup
# group_by(): group data by condition
# arrange(): sort rows by condition
ex1<-csvread %>%
    group_by(`class`) %>%
    summarize(mean_math=mean(math), by=`class`) %>% #by: experimental, function as group_by
    arrange(desc(mean_math))
print(ex1); # sort by mean_math in descending order

ex2<-csvread %>%
    summarize(mean_math=mean(math), 
        math_median=median(math), 
        sum(math), 
        min(math), 
        max(math), 
        sd(math), #stdev
        n(), by=`class`) %>% #n(): number of rows
    arrange(desc(mean_math))
print(ex2);

ex3<-mpg %>%
    group_by(manufacturer, drv) %>% #group by manufacturer and subgroup drv
    summarize(mean_cty=mean(cty), mean_hwy=mean(hwy)) %>% #summarise by conditions
    head(10)
print(ex3);

ex4<-mpg %>%
    summarize(mean_oil=mean(hwy+cty)/2, by=manufacturer) %>% #summarise by conditions
    filter(`class`=="suv") %>% #select columns by condition
    arrange(desc(mean_oil))
print(ex4);

# rename(): rename columns by condition
# mutate(): add new columns by condition
# filter(): filter rows by condition
# select(): select columns by condition

## 3. Add to dataframe

In [ ]:
# merging: col or row
midterm<-data.frame(id=c(1:5), midterm=c(60, 80, 70, 90, 85));
final<-data.frame(id=c(1:5), final=c(70, 83, 65, 95, 80));
total1<-left_join(midterm, final, by="id") %>% # merge by id
    mutate(total=midterm+final) %>% # add a new column to the data frame: total
    select(id, midterm, final, total); # select columns to show
print(total1); # show the data frame in a new tab

total2<-right_join(midterm, final, by="id") %>% # merge by id
    mutate(total=midterm+final) %>% # add a new column to the data frame: total
    select(id, midterm, final, total); # select columns to show
print(total2); # show the data frame in a new tab

total3<-inner_join(midterm, final, by="id") %>% # merge by id
    mutate(total=midterm+final) %>% # add a new column to the data frame: total
    select(id, midterm, final, total); # select columns to show
print(total3); # show the data frame in a new tab

total4<-full_join(midterm, final, by="id") %>% # merge by id
    mutate(total=midterm+final) %>% # add a new column to the data frame: total
    select(id, midterm, final, total); # select columns to show
print(total4); # show the data frame in a new tab

name<-data.frame(class=c(1:5), teacher=c("Alice", "Bob", "Charlie", "David", "Eve"));
info1<-left_join(total1, rename(name, id=`class`), by="id");
print(info1); # show the data frame in a new tab

addits<-data.frame(id=c(1:5), test=c(100-10, 100-20, 100-31, 100-14, 100-25));
attached<-bind_rows(total1, addits)
print(attached); # show the data frame in a new tab

#p150
q1<-mpg %>%
    summarize(mean_cls=mean(cty), by=`class`)
print(q1); # show the data frame in a new tab

q1<-q1 %>%
    arrange((mean_cls)) # sort by mean_cls in ascending order
print(q1); # show the data frame in a new tab

q3<-mpg %>%
    summarise(mean_hwy=mean(hwy), by=`class`) %>%
    head(3)
print(q3); # show the data frame in a new tab

q4<-mpg %>%
    summarise(n_comp=length(unique(manufacturer)), by="comp") %>%
    arrange(n_comp)
print(q4); # show the data frame in a new tab

# 지금까지 총정리 문제
# 1~5: filter(), select(), arrange() 활용
# 1. 도시연비(cty)가 25 이상인 자동차 정보만 추출하시오.
q1=mpg %>%
    filter(cty >= 25) %>% # filter rows by condition: cty >= 25
    select(manufacturer, model, cty) # select columns to show
print(q1);
# 2. 구동방식(drv)이 4인 차량 중 고속도로연비(hwy)가 20 이상인 행만 출력하시오.
q2=mpg %>%
    filter(drv == 4 & hwy >= 20) %>% # filter rows by condition: drv == 4 and hwy >= 30
    select(manufacturer, model, drv, hwy) # select columns to show
print(q2);
# 3. "audi" 제조사의 차량만 출력하되, cty와 hwy 컬럼만 출력하시오.
q3=mpg %>%
    filter(manufacturer == "audi") %>% # filter rows by condition: manufacturer == "audi"
    select(cty, hwy) # select columns to show
print(q3);
# 4. 모든 차량을 hwy 기준으로 내림차순 정렬하시오.
q4=mpg %>%
    arrange(desc(hwy)) # sort by hwy in descending order
print(q4);
# 5. suv 차량 중에서 cty 연비가 가장 낮은 상위 5개 차량을 출력하시오.
q5=mpg %>%
    filter(class == "suv") %>% # filter rows by condition: class == "suv"
    arrange(cty) %>% # sort by cty in ascending order
    head(5) # select top 5 rows
print(q5);

# 6~10: mutate(), ifelse()
# 6. cty와 hwy의 평균을 통합 연비(tot)로 추가하시오.
q6=mpg %>%
    mutate(tot = (cty + hwy) / 2) # add a new column to the data frame: tot
print(q6);
# 7. tot가 25 이상이면 "우수", 아니면 "보통"으로 평가등급 등급을 나타내는 컬럼 추가하시오.
q7=mpg %>%
    mutate(tot = (cty + hwy) / 2, # add a new column to the data frame: tot
           grade = ifelse(tot >= 25, "우수", "보통")) # add a new column to the data frame: grade
print(q7);
# 8. "compact" 차량만 추출 후, 통합연비(tot)가 가장 높은 차량 출력하시오.
q8=mpg %>%
    filter(class == "compact") %>% # filter rows by condition: class == "compact"
    arrange(desc(tot)) %>% # sort by tot in descending order
    head(1) # select top 1 row
print(q8);
# 9. 통합연비 기준으로 내림차순 정렬 후, 상위 10개 차량의 manufacturer, model, tot 출력하시오.
q9=mpg %>%
    arrange(desc(tot)) %>% # sort by tot in descending order
    head(10) %>% # select top 10 rows
    select(manufacturer, model, tot) # select columns to show
print(q9);
# 10. class가 "subcompact"이면서 통합연비가 20 미만인 차량에 대해 등급 "경고" 추가하시오.
q10=mpg %>%
    mutate(tot = (cty + hwy) / 2, # add a new column to the data frame: tot
           grade = ifelse(class == "subcompact" & tot < 20, "경고", NA)) # add a new column to the data frame: grade
print(q10);

# 11~15: group_by(), summarise()
# 11. 제조사별 평균 cty를 계산하시오.
q11=mpg %>%
    group_by(manufacturer) %>% # group by manufacturer
    summarise(mean_cty = mean(cty)) # summarise by condition: mean(cty)
print(q11); # show the data frame in a new tab
# 12. 제조사별 평균 hwy를 계산하여 내림차순 정렬 후 상위 5개만 출력하시오.
q12=mpg %>%
    summarise(mean_hwy = mean(hwy), by=manufacturer) %>% # summarise by condition: mean(hwy)
    arrange(desc(mean_hwy)) %>% # sort by mean_hwy in descending order
    head(5) # select top 5 rows
print(q12); # show the data frame in a new tab
# 13. class별 차량 수를 구하시오. (빈도수)
q13=mpg %>%
    summarise(n_class = n(), by=`class`) %>% # summarise by condition: n()
    arrange(desc(n_class)) # sort by n_class in descending order
print(q13);
# 14. drv별 평균 cty, 평균 hwy, 표준편차(sd)를 구하시오.
q14=mpg %>%
    summarise(mean_cty=mean(cty), mean_hwy=mean(hwy), sd_cty=sd(cty), sd_hwy=sd(hwy), by=drv)
print(q14);
# 15. 제조사별 suv 차량의 통합연비 평균을 구하고 내림차순 정렬하시오.
q15=mpg %>%
    filter(class == "suv") %>% # filter rows by condition: class == "suv"
    summarise(mean_tot = mean(tot), by=manufacturer) %>% # summarise by condition: mean(tot)
    arrange(desc(mean_tot)) # sort by mean_tot in descending order
# 16~20: join, bind_rows, 고급 실습
# 16. mpg에서 class별로 평균 cty, 평균 hwy를 구한 후 두 수치의 비율을 나타내는 컬럼 추가
q16<-mpg %>%
    left_join(hwypercty=summarise(mpg, mean_hwy=mean(hwy), by=`class`)/summarise(mpg, mean_cty=mean(cty), by=`class`), by=`class`)
print(q16);
# 17. manufacturer와 class를 기준으로 그룹화 후 평균 연비(tot)를 구해 pivot 형태로 정리
q17<-mpg %>%
    summarise(mean_tot=(cty + hwy) / 2, by=`manufacturer`, `class`) %>%
    pivot_wider(names_from=`class`, values_from=mean_tot)
print(q17);

print(mpg$fl%>%unique()) # show the unique values of the fl column
# 18. 두 개의 mpg 데이터프레임을 만들어 서로 다른 연료 가격 정보를 left_join 하여 병합

datamix <- function(dataframe) {
    for(i in col(dataframe)) {
        dataframe$i<-dataframe$random(1:nrow(dataframe), replace=TRUE) # random sampling with replacement
    }
    return(dataframe)
}

fuelprice<-function(dataframe, fuelprice) {
    dataframe<-dataframe %>%
        left_join(fuelprice = fuelprice) %>% # add a new column to the data frame: fuelprice
        mutate(cost = (cty + hwy) / 2 * fuelprice) # add a new column to the data frame: cost
    return(dataframe)
}
fuelp1=c(2.5, 3.0, 3.5, 4.0, 4.5, 5.0)
fuelp2=c(2.0, 2.5, 3.0, 3.5, 4.0, 4.5)
mpq1<-datamix(mpg)
mpq2<-datamix(mpg)
mpq1<-fuelprice(mpq1, fuelp1)
mpq2<-fuelprice(mpq2, fuelp2)
mpq<-bind_rows(mpq1, mpq2)
print(mpq);

# 19. 고속도로 연비가 30 이상인 차량과 20 미만인 차량을 따로 나눈 뒤 세로로 합치기
q19<-mpq %>%
    filter(hwy >30) %>% # filter rows by condition: hwy > 30
    bind_rows(mpg %>% filter(hwy <20)) # add rows from mpg where hwy < 20
print(q19);

# 20. class가 "pickup"이고, 통합연비가 평균 이상인 차량만 따로 추출해보세요.
q20<-mpg %>%
    filter(class == "pickup" & tot >= mean(tot)) # filter rows by condition: class == "pickup" and tot >= mean(tot)
print(q20);

## 4. handling abnormal/missing data

In [ ]:
mpg<-as.data.frame(mpg)
mpg[c(10, 14, 58, 93), "drv"] <- "K"
mpg[c(29, 43, 129, 203), "cty"] <- c(3, 4, 39, 29)

card<-c("F", "R", "f,", "r", "4")
mpg %>%summarise(table(mpg$drv %in% card))
mpg$drv <- ifelse((mpg$drv %in% card), mpg$drv, NA)

erange<-c(
    boxplot(mpg$cty)$stats[1], 
    boxplot(mpg$cty)$stats[2],
    boxplot(mpg$cty)$stats[4],
    boxplot(mpg$cty)$stats[5])
mpg %>% summarise(table(mpg$cty %in% erange))
mpg$cty<-ifelse(!(mpg$cty %in% c(erange[2], erange[3])), NA, mpg$cty)

mpg<- mpg %>%
    filter(is.na(mpg$cty)) %>%
    mutate(cty = ifelse(is.na(cty), mean(cty, na.rm=TRUE), cty), .by=drv)
print(mpg)

## 5. plotting

In [ ]:
# Scatter plot
ggplot(data=mpg, aes(x=displ, y=hwy)) +#adding layers
    geom_point() +# scatter plot
    geom_jitter(width=0.2, height=0.2, alpha=0.5) + # add jitter to points
    xlim(2, 7) + ylim(10, 40) + # set x and y limits
    geom_smooth(method="lm", se=FALSE) +
    labs(title="Scatter plot of displ vs hwy",
         x="Engine Displacement (L)",
         y="Highway MPG") +
    theme_minimal()

#p188


# Histogram for comparison
ggplot(data=(mpg %>% hwymean=summarise(mean(hwy), .by=drv)), aes(x=reorder(drv, -hwymean), y=hwymean, fill=manufacturer))# x reorder by hwymean
    #blank y for num of preference
    #fill in axis for subfactor
                                                                                                    #(descending order: def + is ascend)
    geom_col() +#heigyt by vars. no args means "stack", position="dodge" means "side by side", position="fill" means "stacked", 
    #position="identity" means "overlapped"
    geom_histogram(binwidth=2, fill="blue", color="black", alpha=0.7) +
    labs(title="Histogram of Highway MPG",
         x="Highway MPG",
         y="Count") +
    theme_minimal()

#p193
ggplot(data=mpg, aes(x=reorder(manufacturer, mean(cty, .by=manufacturer)), y=select(cty, class="compact"))) +
    xlim(1, 5)+
    geom_col() +#heigyt by vars
    geom_histogram(binwidth=1, fill="blue", color="black", alpha=0.7) +
    labs(title="Histogram of City MPG by companies",
         x="Company",
         y="City MPG") +
    theme_minimal()
ggplot(data=mpg, aes(x=))

# line plot: time series data
ggplot(data=economics, aes(x=date, y=unemploy)) +
    geom_line() + # line plot
    geom_point() + # add points to the line plot
    labs(title="Line plot of displ vs hwy",
         x="Engine Displacement (L)",
         y="Highway MPG") +
    theme_minimal()
#p195
ggplot(data=economics, aes(x=date, y=psavert)) +
    geom_line() + # line plot
    geom_point() + # add points to the line plot
    labs(title="Line plot of displ vs hwy",
         x="Engine Displacement (L)",
         y="Highway MPG") +
    theme_minimal()

#208, 288: analyzing data
#p300: confirm on hypothesis

## 6. basic analysis

Important things on Statistical Prediction: Reason to choose vars to predict, choose suitable vars, and the meaning of the vars and results. Don't miss the important vars, and consider the change of the target group. Also, check the reverse, inverse, and contrapositive propositions.
통계예측의 중요사항: 이유, 변수, 결과. 주요변수 안놓치고 대상집단 증감 등 변동까지 고려한 통계예측. 역, 이, 대우 명제도 검증.

visualize: choose gtypes that show signifficant difference
- histogram filled with 3rd quartile or gathered histogram is possible
- bar graph: col=category
- line graph distingushed by color: col=category

### 6.1 work 1

salary by sex, age(exact, range), sex+range, age+range, job, and job-age relation, religion-divorce, area-age relation ratio
1. 성별에 따른 월급 차이
2. 나이와 월급의 관계
3. 연령대에 따른 월급 차이
4. 연령대 및 성별 월급 차이
5. 직업별 월급차이
6. 성별 직업 빈도
7. 종교 유무에 따른 이혼율(+year)
8. 지역별 연령대 비율

* Original raw data is compressed in github repo due to the size of the data

In [ ]:
#data from KOWEPS, 2015(Koweps_hpc10_2015_beta1.sav): sass
rawdata_welfare<-read.spss("data0425/Koweps_hpc10_2015_beta1.sav", to.data.frame=T, reencode = "UTF-8")#type set to dataframe
welfare<-rawdata_welfare

#struct confirmation
summary(welfare)
View(welfare)#head(welfare)|tail(welfare)|view(welfare)
dim(welfare)#rows, columns
str(welfare)#structure

#colname confirmation
welfare<-rename(welfare, sex=h10_g3, byear=h10_g4, job=h10_eco9, mthincome=p1002_8aq1, religion=h10_g11, marriage=h10_g10, area=h10_reg7)
jobcode<-read_excel("data0425/Koweps_Codebook.xlsx", sheet="직종 코드")
household<-read_excel("data0425/Koweps_Codebook.xlsx", sheet="가구주와의 관계 코드")
extractCell<-function(targetcell) {
    desc <- strsplit(as.character(targetcell), "\t") %>% remove(list=c("N", "\\(%d", "\\%d)"))
    desc <- strsplit(desc, c(".", "~"))[2]
    return(desc)
}
decodeCname<-function(codedata, sheetname) {
    decode<-read_excel("data0425/Koweps_Codebook.xlsx", sheet=sheetname)
    decode<-ifelse(ncol(decode$sheetname)>3, {
        select(1:5) %>%
        rename(code=1, name=2, vars=3, validrange=4, unrecord=5)
        decode$name<-extractCell(decode$name)
        decode$vars<-extractCell(decode$vars) %>% as.character()
        decode$validrange<-extractCell(decode$validrange) %>% as.numeric()
        decode$unrecord<-decode$unrecord %>% split("=")[1] %>% as.numeric()
        }, {
        decode[[1]] <- decode[[1]] %>% as.numeric()
        decode[[2]] <- decode[[2]] %>% as.character()
    })
    return(decode)
}
#levels=c(): dtype in category
codeinfo<-read_excel("data0425/Koweps_Codebook.xlsx")
personal<-data.frame(decodeCname(codeinfo, "조사 설계서"))
jobcode<-data.frame(decodeCname(codeinfo, "직종 코드"))
household<-data.frame(decodeCname(codeinfo, "가구주와의 관계 코드"))

welfare$sex<-ifelse(welfare$sex %in% personal$code, personal$vars, NA)
welfare$marriage<-ifelse(welfare$marriage==personal$code, personal$vars, NA)
welfare$religion<-ifelse(welfare$religion==personal$code, personal$vars, NA)
welfare$area<-ifelse(welfare$area==personal$code, personal$vars, NA)
welfare$job<-ifelse(welfare$job==jobcode$code, jobcode$vars, NA)
welfare$byear<-ifelse(welfare$byear==personal$code, personal$vars, NA)
welfare$age<-ifelse(welfare$age==personal$code, personal$vars, NA)

#

# join(.by="foreingkey")
#rotation: +coord_flip(
#head(), body(), tail(), view()
#geom_bar(): autocount datanums, y; so use in counting.
#geom_col(): y=datavalue, x=category. use in value visualization.

#class(): data type

#qplot(): quick plot, ggplot2
#count(): count the number of rows in a data frame or tibble
#round(): round to the nearest integer, 0.5 rounds up

### 6.2 work 2, DIY about several years

* due to the size of the data, raw files may not be available in the repo